main {
    max-width: 400px;
    margin: 20px auto;
    background-color: rgb(227, 231, 220);
    border-radius: 2%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

/*mem*/
.mem-container {
    border-top: 1.5px solid #bec3c6;
}

.mem-title {
    display: block;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0px;

    transition: color 0.2s ease-out;
    position: relative;
    border-top: 1.5px solid #bec3c6;
}

.mem-title:hover {
    color: rgb(41, 41, 176);
}

img {
    width: 400px;
    height: auto;
    margin: 10px 0px;
}

.mem-title::after {
    display: block;
    content: "+";
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s all;
}

.mem-item[open] .mem-title::after {
    transform: translateY(-50%) rotate(45deg);
}


summary::-webkit-details-marker {
    display: none;
}

@media (max-width: 820px) {
    main {
        max-width: 300px;
        font-size: 12px;
    }

    img {
        width: 300px;
        height: auto;
        margin: 10px 0px;
    }
}

@media (max-width: 320px) {
    main {
        max-width: 200px;
        font-size: 9px;
        margin: 10px auto;
    }

    img {
        width: 150px;
        height: auto;
        margin: 10px 0px;
    }

    .mem-title::after {
        display: none;
    }
}